body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:30px;
  width:310px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:30px;
  width:310px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:306px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:81px;
  top:36px;
  width:40px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#0099FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  word-wrap:break-word;
}
