body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:40px;
  width:310px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:50px;
  width:220px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:330px;
  top:50px;
  width:60px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:98px;
  width:290px;
  height:452px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:452px;
}
#u7 {
  position:absolute;
  left:2px;
  top:218px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:102px;
  top:100px;
  width:286px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:70px;
}
#u9 {
  position:absolute;
  left:2px;
  top:27px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:126px;
  top:121px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:177px;
  top:126px;
  width:140px;
  height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:102px;
  top:170px;
  width:286px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:126px;
  top:191px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:177px;
  top:196px;
  width:140px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:102px;
  top:240px;
  width:286px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:70px;
}
#u21 {
  position:absolute;
  left:2px;
  top:27px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:129px;
  top:261px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:180px;
  top:266px;
  width:140px;
  height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
